@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    /* This removes border from the corners of the screen, so our image touches the edge of the browser window */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Set's the box-sizing to border box so the elements fit inside their parent elements */
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);

}

.container {
    max-width: 350px;
    /* Sets the width of page content, so it's not so wide on the screen and more cenetered. */
    margin: 0 auto;
    /* centers the content */
}

.wrapper {
    margin: 2rem 1rem;
    /* create 2rem of space in top and bottom of container as well as 1rem of space for left and right of border */
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    /* rounds off the corners */
}

.img-top {
    border-radius: 12px;
    overflow: hidden;
    /* the image is overflowing the container div so the bottom image appears not be rounded, but only because of the icon.svg file */
    position: relative;
    /* we want the img overlay to have the position of absolute, to round the bottom edge */

}

.img-top img {
    width: 100%;
    /* Width so it doesnt overflow the container */
    display: block;
    /* gives the image a display block to override the inline image default element */

}

.img-overlay {
    position: absolute;
    /* positioned relative to nearest positioned ancestor (instead of relative to viewport) */
    left: 0;
    /* specify the horizontal position  of a positioned element */
    top: 0;
    /* specify the vertical position of a positioned element */
    height: 100%;
    /* height of the border area */
    width: 100%;
    /* sets width of border area */
    background-color: hsla(178, 100%, 50%, 0.5);
    /* we add the alpha component to represent the HSL color transparency.
}


.img-overlay img {
    position: absolute;
    /* This helps round the bottom edges of the image, by moving the img icon inside its ancestor element */
    width: 50px;
    /* sets the width of the image icon */
    left: 50%;
    /* moves the image halfway from the left towards center */
    top: 50%;
    /* moves the image icon halfway from the top towards the center */
    transform: translate(-50%, -50%);
    /* centers the icon by transforming with the other 50% percent */
}